/Array.class
/BreakStatements.class
/DoWhileLoop.class
/ForLoop.class
/Patterns.class
/SwitchStatement.class
/Task_16.class
/Task_17.class
/Task_18.class
/Task_19.class
/Task_20.class
/Task_21.class
/Task_22.class
/Task_23.class
/WhileLoop.class
