/demo.class
/CondtionalStatement.class
/ElseIfCondition.class
/OtherToString.class
/StringTypeCaste.class
/Task_10.class
/Task_11.class
/Task_12.class
/Task_13.class
/Task_14.class
/Task_15.class
/Task_6.class
/Task_7.class
/Task_8.class
/Task_9.class
/TypeCasting.class
