/ArithmaticOperator.class
/DataType.class
/InstaceVariable2.class
/InstanceVariable.class
/LocalVariable.class
/ScannerInput.class
/Task_1.class
/Task_2.class
/Variable.class
/abc.class
/details.class
/Task_3.class
/Task_4.class
/Task_5.class
/AssignmentOperator.class
/ComparisionOperator.class
/LogicalOperator.class
/IncrementDecrement.class
/BitwiseOperator.class
/CondtitionalOperator.class
/InstanceOfOperator.class
/Task_6.class
/TypeCasting.class
/Task_7.class
/Task_8.class
/Task_9.class
/StringTypeCaste.class
/OtherToString.class
/Task_10.class
/Task_11.class
/CondtionalStatement.class
/Task_12.class
/Task_13.class
/Task_14.class
/ElseIfCondition.class
/Task_15.class
/SwitchStatement.class
