/ArithmaticOperator.class
/DataType.class
/InstaceVariable2.class
/InstanceVariable.class
/LocalVariable.class
/ScannerInput.class
/Task_1.class
/Task_2.class
/Variable.class
/abc.class
/details.class
/Task_3.class
/Task_4.class
/Task_5.class
/AssignmentOperator.class
/ComparisionOperator.class
/LogicalOperator.class
/IncrementDecrement.class
/BitwiseOperator.class
/CondtitionalOperator.class
/InstanceOfOperator.class
/Task_6.class
/TypeCasting.class
/Task_7.class
/Task_8.class
/Task_9.class
/StringTypeCaste.class
/OtherToString.class
/Task_10.class
/Task_11.class
/CondtionalStatement.class
/Task_12.class
/Task_13.class
/Task_14.class
/ElseIfCondition.class
/Task_15.class
/SwitchStatement.class
/WhileLoop.class
/DoWhileLoop.class
/Task_16.class
/Task_17.class
/Task_18.class
/Task_19.class
/Task_20.class
/ForLoop.class
/BreakStatements.class
/Task_21.class
/Patterns.class
/Task_22.class
/Task_23.class
/Array.class
/DynamicArray.class
/Task_24.class
/Task_25.class
/Task_26.class
/Task_27.class
/Task_28.class
/Task_29.class
/Task_30.class
/Task_31.class
/Task_32.class
/Task_33.class
/Task_34_OddZero.class
/Task_35_E_Pattern.class
/Task_36_F.class
/Task_36_F_Pattern.class
/Task_37_A_Pattern.class
/Task_38_Square.class
/Task_38_Square_Pattern.class
/Task_39_Curve_A_Pattern.class
/Task_40_X_Pattern.class
/Task_41_Z_Pattern.class
