/DynamicArray.class
/Task_24.class
/Task_25.class
/Task_26.class
/Task_27.class
/Task_28.class
/Task_29.class
/Task_30.class
/Task_31.class
/Task_32.class
/Task_33.class
/Task_34_OddZero.class
/Task_35_E_Pattern.class
/Task_36_F_Pattern.class
/Task_37_A_Pattern.class
/Task_38_Square_Pattern.class
/Task_39_Curve_A_Pattern.class
/Task_40_X_Pattern.class
/Task_41_Z_Pattern.class
