/Variable.class
/abc.class
/details.class
/Task_3.class
/Task_4.class
/Task_5.class
/AssignmentOperator.class
/ComparisionOperator.class
/LogicalOperator.class
/IncrementDecrement.class
/BitwiseOperator.class
/CondtitionalOperator.class
/InstanceOfOperator.class
/ArithmaticOperator.class
/ScannerInput.class